/* Base styles for the entire layout */
.main {
  display: flex;
  background-color:white;
  color: #3d3d3d;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

.body {
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  height: 100vh;
}

.layout {
  flex: 1;
  display: flex;
}

.sidebar {
  margin-top: 20px;
  min-width: 250px;
  background-color: #f7f7f7;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo h6 {
  font-size: 1.5rem;
  color: cornflowerblue;
  font-weight: 700;
  letter-spacing: 2px;
}

.menu {
  margin-bottom: auto;
  margin-top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  color: #3d3d3d;
}

.menu-item:hover {
  background-color: lightskyblue; /* You can remove this line to remove the light blue background on hover */
}

.menu-item a {
  text-decoration: none; /* Remove underline from links */
  color: black;
}

.menu-item i {
  font-size: 1.2rem;
  margin-right: 20px;
  color: #3d3d3d; /* Set the icon color to the default black */
}

.active {
  background-color: #252525;
}

.active .menu-item i {
  color: white; /* Set the icon color to white when active */
}
.active a{
  color: white;
}
.active i{
  color: white;
}

/* Content styles */
.content {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-content i {
  font-size: 1.2rem;
  margin-right: 20px;
}

.user-doctor-admin-name {
  margin-top: 8px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    min-width: 100%;
    margin-right: 0;
  }

  .menu-item {
    padding: 10px 10px;
  }
}
.header {
  background-color: #3498db;
  color: white;
  padding: 20px;
  border: 1px solid #3498db;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #666;
}